body {
    font-family: Arial, sans-serif;
    background-color: #3d3d6a;
    margin: 20px;
    padding: 0;
}

.card-container {
    display: flex; 
    justify-content: space-around; 
    gap: 20px;
    max-width: 1000px;
    margin: 0 auto; 
}

/* INDIVIDUAL CARD STYLE */
.player-card {
    background-color: white;
    border: 2px solid #91bfde; /* blue border */
    border-radius: 10px; /* Round corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 30%; /* 1/3 of screen  */
    text-align: center;
}

/* TEXT STYLES */
.player-name {
    color: #000000; 
    margin-top: 0;
    border-bottom: 2px solid #ff1900; /* red line under name */
    padding-bottom: 5px;
}

.player-stat {
    color: #34495e;
    font-size: 1.1em;
    font-weight: bold;
    margin: 5px 0;
}

.player-bio {
    color: #7f8c8d;
    font-style: italic;
    margin-top: 15px;
    font-size: 0.9em;

}
